* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* עיוצב של דברים קבועים */
body {
  font-family: "Poppins", sans-serif;
  background-color: #292929;
  color: #bcbcbc;
  overflow: hidden;
}

header {
  background-color: #ffa600;
  color: #000000;
  text-align: center;
  font-weight: 600;
  text-shadow: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  position: relative;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-height: 85vh;
  max-height: 87vh; 
  overflow-y: auto;
  background-color: #3d3d3d;
}


footer {
  background-color: #ffa600;
  color: black;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
}

label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

button {
  background-color: #ffa600;
  color: white;
  border: 3px solid #ffffff;
  border-radius: 9px;
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  grid-column: span 2;
  margin-bottom: 4px;
}

button:hover {
  background-color: #b87800;
  color: white;
}

button.selected {
  border: 2px solid #fff7e9;
  background-color: #ffa600;
  color: white;
  font-weight: bold;
}

button.selected:hover {
  color: white;
}

table {
  border:2px solid #ffffff;
  background-color: #ffa600;
  color: #ffffff;
  padding: 5px;
}

td {
  border:1px solid #000000;
  background-color: #e6e6e6;
  color: #000000;
  padding: 5px;
} 


/* עיצוב לפי className */
.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


.nav a,
.nav .nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav .nav-link:hover {
  border-bottom: 5px solid #ffffff;
  font-weight: bold;
  transition: 0.5s;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.page-header {
  text-align: center;
  padding: 20px;
  background-color: #ffac12d6;
  border: 2px solid #f9f7fc;
  color: #ffffff;
  border-radius: 8px;
  margin: 20px auto;
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btnFromTable{
display: flex;
flex-direction: row;
}

.Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}